<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VerteilteSysteme</title>
    <base href="/">
    <!-- external css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- end css -->
    <!-- external scripts (better download later)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.5/chartjs-plugin-annotation.js"></script>
    <!-- jquery for bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- end scripts -->

</head>
<body ng-controller="IndexController">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" href="index.html">Verteilte Systeme - Serverraum Monitoring</a>
    </nav>


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Sensor-Einheiten: </h1>
            </div>
        </div>
        <!-- data row for each sensor -->
		<div ng-if="$scope.SensorList == null">
			<h3>Tja... Da ist wohl etwas schief gelaufen!</h3>
		</div>
        <div ng-repeat="Sensor in SensorData">

            <div class="row">
                <div class="col-sm-12">
                    <div class="card mb-3" ng-model="Sensor">
                        <div class="card-header" id="cardheader{{Sensor.ID}}">
                            <i class="fas fa-chart-area"></i>
                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2>{{Sensor.Name}}</h2>
                                </div>
                            </div>

                            <div class="row SensorBasicInfo">
                                
                                <!--Current-->
                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card text-white bg-primary o-hidden h-100">
                                        <div class="card-body">
                                            <div class="mr-5">Current: </div>
                                            <h2>{{Sensor.CurrentTemp}}°C</h2>
                                        </div>
                                    </div>
                                </div>

                                <!--Avg-->
                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card text-white bg-success o-hidden h-100">
                                        <div class="card-body">
                                            <div class="mr-5">Daily Average: </div>
                                            <h2>{{Sensor.DailyAvgTemp}}°C</h2>
                                        </div>
                                    </div>
                                </div>

                                <!--Min-->
                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card text-white bg-info o-hidden h-100">
                                        <div class="card-body">
                                            <div class="mr-5">Daily Minimum: </div>
                                            <h2>{{Sensor.DailyMinTemp}}°C</h2>
                                        </div>
                                    </div>
                                </div> 

                                <!--Max-->
                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card text-white bg-danger o-hidden h-100">
                                        <div class="card-body">
                                            <div class="mr-5">Daily Maximum: </div>
                                            <h2>{{Sensor.DailyMaxTemp}}°C</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- toggle chart button -->
                            <div class="row">
                                <div class="col-sm-3">
                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse{{Sensor.ID}}" aria-expanded="false" aria-controls="collapseExample">
                                        Verlauf anzeigen
                                    </button>
                                </div>
								<div class="col-sm-3">
									<div class="alert alert-success" role="alert">
										Interval Average: {{Sensor.UltAvgTemp}} °C
									</div>
								</div>
								<div class="col-sm-3">
									<div class="alert alert-info" role="alert">
										Interval Minimum: {{Sensor.UltMinTemp}} °C
									</div>
								</div>
								<div class="col-sm-3">
									<div class="alert alert-danger" role="alert">
										Interval Maximum: {{Sensor.DailyMaxTemp}} °C
									</div>
								</div>
                            </div>
                            
                        </div>
                        <!-- card body -->
                        <div class="card-body collapse" id="collapse{{Sensor.ID}}">
							<div class="container">
								<div class="row">
									<!-- update button -->
									<div class="col-sm-2">
										<button class="btn btn-primary" type="button" ng-click="Sensor.mod()"><!-- updateModel(Sensor.ID) -->
											Update
										</button>
									</div>
									<!-- interval -->
									<div class="form-group row">
									  <label for="example-number-input" class="col-6 col-form-label" style="text-align: right;">Interval:</label>
									  <div class="col-6">
										<input class="form-control" type="number" value="23" id="example-number-input" ng-model="Sensor.interval">
									  </div>
									</div>
									<!-- latest -->
									<div class="form-group row">
									  <label for="example-number-input" class="col-6 col-form-label" style="text-align: right;">Latest:</label>
									  <div class="col-6">
										<input class="form-control" type="number" value="43" id="example-number-input" ng-model="Sensor.latest">
									  </div>
									</div>
									<!-- offset -->
									<div class="form-group row">
									  <label for="example-number-input" class="col-6 col-form-label" style="text-align: right;">Offset:</label>
									  <div class="col-6">
										<input class="form-control" type="number" value="23" id="example-number-input" ng-model="Sensor.offset">
									  </div>
									</div>
								</div>
							</div>
							
							<ul class="nav nav-tabs" id="myTab" role="tablist">
							  <li class="nav-item">
								<a class="nav-link active" id="graph-tab{{Sensor.ID}}" data-toggle="tab" href="#graph{{Sensor.ID}}" role="tab" aria-controls="graph{{Sensor.ID}}" aria-selected="true">Graph</a>
							  </li>
							  <li class="nav-item">
								<a class="nav-link" id="table-tab{{Sensor.ID}}" data-toggle="tab" href="#table{{Sensor.ID}}" role="tab" aria-controls="table{{Sensor.ID}}" aria-selected="false">Table</a>
							  </li>
							</ul>
							
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="graph{{Sensor.ID}}" role="tabpanel" aria-labelledby="graph-tab">
									<div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
									<canvas id="Canvas{{Sensor.ID}}" width="1940" height="582" style="display: block; height: 291px; width: 970px;" class="chartjs-render-monitor"></canvas>
								</div>
								
								<div class="tab-pane fade" id="table{{Sensor.ID}}" role="tabpanel" aria-labelledby="table-tab">
									<table class="table">
										<thead>
											<tr>
												<th>#</th>
												<th scope="col">Time</th>
												<th scope="col">AvgTemp</th>
												<th scope="col">MinTemp</th>
												<th scope="col">MaxTemp</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="ttstamp in Sensor.TTStamps">
												<th>{{$index}}</th>
												<td>{{ttstamp.Time}}</td>
												<td>{{ttstamp.AvgTemp}}</td>
												<td>{{ttstamp.MinTemp}}</td>
												<td>{{ttstamp.MaxTemp}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							
                        </div>
                        <div class="card-footer small text-muted">Last Update: {{Sensor.LastUpdated}}</div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>


    <!-- Angular Module + Controller (seperate later)-->
    <script>
        var app = angular.module('myApp', ['ngRoute']).controller('IndexController', function ($scope, $http, $rootScope) {
            $scope.message = 'Hello from IndexController';
			$scope.counterSensors = 0;
			$scope.secondsPerDay = 86400;
			
			//Base Url for Server
			$scope.base_url_api = '/v1/api';

			//List of SensorNames 
			$scope.SensorList = [];
				
            //Array for all sensordata
            $scope.SensorData = [];

            //Models
            function SensorInfo(ID, Name, CurrentTemp, DailyAvgTemp, DailyMinTemp, DailyMaxTemp, UltAvgTemp, UltMinTemp, UltMaxTemp, AlertMinTemp, AlertMaxTemp, TTStamps, LastUpdated, interval, latest, offset ) {
                this.ID = ID;
                this.Name = Name;
                this.CurrentTemp = CurrentTemp || -1;
                this.DailyAvgTemp = DailyAvgTemp || -1;
                this.DailyMinTemp = DailyMinTemp || -1;
                this.DailyMaxTemp = DailyMaxTemp || -1;
				this.UltAvgTemp = UltAvgTemp || -1;
                this.UltMinTemp = UltMinTemp || -1;
                this.UltMaxTemp = UltMaxTemp || -1;
				this.AlertMinTemp = AlertMinTemp || -100;
				this.AlertMaxTemp = AlertMaxTemp || 100;
                this.TTStamps = TTStamps; //Array 
                this.LastUpdated = LastUpdated;
				this.interval = interval || 28800; //8hours
				this.latest = latest || 8;
				this.offset = offset || 0;
            }

            function TTStamp(Time, AvgTemp, MinTemp, MaxTemp) {
                this.Time = Time;
                this.AvgTemp = AvgTemp;
				this.MinTemp = MinTemp;
				this.MaxTemp = MaxTemp;
            };
            //Models End
			
			//Create Sensor Objects and fill them with Data from API
			$scope.createSensorObjects = function(){
				$scope.SensorList.forEach(function (SensorName) {
					
					//### First get Daily Max/Min/Avg
					//example: [{"time":"2019-08-28T00:00:00+00:00","min_temperature":20.0,"max_temperature":40.0,"avg_temperature":29.9}]
					var responseDaily = $scope.getSensorDailyUltima(SensorName);
					var dMinTemp, dMaxTemp, dAvgTemp;
					try{
						//round to 2 decimal
						dMinTemp = Math.round(responseDaily.min_temperature * 100) / 100 ;
						dMaxTemp = Math.round(responseDaily.max_temperature * 100) / 100 ;
						dAvgTemp = Math.round(responseDaily.avg_temperature * 100) / 100 ;
					}catch(err){
						console.log("Error in createSensorObjects/getSensorDailyUltima:" + err);
					}
					
					//### Get Interval Max/Min/Avg
					var responseAllTime =  $scope.getSensorIntervalUltima(SensorName);
					var ultMinTemp, ultMaxTemp, ultAvgTemp;
					try{
						ultMinTemp = Math.round(responseAllTime.min_temperature * 100) / 100;
						ultMaxTemp = Math.round(responseAllTime.max_temperature * 100) / 100;
						ultAvgTemp = Math.round(responseAllTime.avg_temperature * 100) / 100;
						console.log(responseAllTime);
					}catch(err){
						console.log("Error in createSensorObjects/getSensorAllTimeUltima:" + err);
					}
					
					//Load 8 values form last 8 hours
					var vps = $scope.getLast8h8TTStamps(SensorName);
					
					try{
						basicResponse.forEach( function(valuepair){
						vps.push(new TTStamp(valuepair.time, valuepair.avg_temperature, valuepair.min_temperature, valuepair.max_temperature));
					});
					}
					catch(err){
						console.log("Error in createSensorObjects/pushVPS:" + err);
					}
					
					//Get CurrentTemp 
					var CurrentTemp = $scope.getSensorCurrentTemp(SensorName);
					
					//Get Max/Min-TempAlert Values
					var AlertMinTemp = 19; //TODO
					var AlertMaxTemp = 40; //TODO
					
					
					//Create LastUpdated Timestamp
					var dateNow = new Date();
					var LastUpdated = dateNow.getDate() + "/"
									+ (dateNow.getMonth()+1)  + "/" 
									+ dateNow.getFullYear() + " @ "  
									+ dateNow.getHours() + ":"  
									+ dateNow.getMinutes() + ":" 
									+ dateNow.getSeconds();
					
					//finally construct the object 
					//ID, Name, CurrentTemp, DailyAvgTemp, DailyMinTemp, DailyMaxTemp, UltAvgTemp, UltMinTemp, UltMaxTemp, AlertMinTemp, AlertMaxTemp, TTStamps, LastUpdated, interval, latest, offset
					var SensorInfoObject = new SensorInfo($scope.counterSensors++, SensorName, CurrentTemp, dAvgTemp, dMinTemp, dMaxTemp, ultAvgTemp, ultMinTemp, ultMaxTemp, AlertMinTemp, AlertMaxTemp, vps, LastUpdated, 28800, 8, 0);
					console.log(SensorInfoObject);
					//PUSH IN $SCOPE.SENSORDATA
					$scope.SensorData.push(SensorInfoObject);
					console.log($scope.SensorData);
					
				});
			}
			
			
			
			//SensorData
			SensorInfo.prototype.mod = function(){
				//var responseDaily = $scope.getSensorDailyUltima(sensorName);
				console.log(this);
				//get the new requested data from API
				var response = $scope.callAPI($scope.base_url_api, 'GET', this.Name, this.interval, this.latest, this.offset);
				
				try{
					var ttstamps = [];
					var responseObject = JSON.parse(response);
					responseObject.forEach( function(kvpData){
						ttstamps.push(new TTStamp(kvpData.Time, kvpData.avg_temperature));
					});
					
					//Get Interval Min/Max/Avg 
					var responseUlt = $scope.callAPI($scope.base_url_api, 'GET', this.Name, this.interval, 1, this.offset);
					var responseUltObject = JSON.parse(responseUlt);
					responseObject.forEach( function(kvpData){
						this.UltAvgTemp = kvpData.avg_temperature;
						this.UltMinTemp = kvpData.min_temperature;
						this.ultMaxTemp = kvpData.max_temperature;
					});
					//Create LastUpdated Timestamp
					var dateNow = new Date();
					this.LastUpdated = dateNow.getDate() + "/"
										+ (dateNow.getMonth()+1)  + "/" 
										+ dateNow.getFullYear() + " @ "  
										+ dateNow.getHours() + ":"  
										+ dateNow.getMinutes() + ":" 
										+ dateNow.getSeconds();
					
					console.log(this);
					return 1;
				}catch(err){
					console.log(err);
					console.log("Error in SensorData.prototype.mod" + err);
					return null;
				};
				
			}
			
			
			$scope.updateModel = function(){
				console.log("SensorID Check: " + SensorID);
				console.log($scope.SensorData);
			}
			
			//Get Standart Daily Values for creation
			$scope.getLast8h8TTStamps = function(SensorName){
				var response = $scope.callAPI($scope.base_url_api, 'GET', SensorName, 3600, 8, 0);
				var ttstamps = [];
				try{
					var parsedTTStamps = JSON.parse(response);
					parsedTTStamps.forEach( function(ttstamp){
						ttstamps.push(new TTStamp(ttstamp.time.slice(0, -6).replace('T', ' @'), ttstamp.avg_temperature, ttstamp.min_temperature, ttstamp.max_temperature));
					});
					return ttstamps;
				}catch(err){
					console.log("Error in createSensorObjects/getLast8hTTStamps:" + err);
				}
			}
		
			//Get Daily Min/Max/Avg
			$scope.getSensorDailyUltima = function(SensorName){
				var response = $scope.callAPI($scope.base_url, 'GET', SensorName, $scope.secondsPerDay, 1, 0);
				try{
					var parsedResponse = JSON.parse(response);
					//Only get first one in case of too many datasets
					return parsedResponse[0];
				}catch(err){
					console.log("Error in createSensorObjects/getSensorDailyUltima:" + err);
				}
			}
			
			//Interval Min/Max/Avg
			$scope.getSensorIntervalUltima = function(SensorName, Interval){
				var response = $scope.callAPI($scope.base_url_api, 'GET', SensorName, Interval, 1, 0);
				try{
					var parsedResponse = JSON.parse(response);
					//Only get first one in case of too many datasets
					return parsedResponse[0];
				}catch(err){
					console.log("Error in createSensorObjects/getSensorIntervalUltima:" + err);
				}
			}
			
			//Get Current Temp
			$scope.getSensorCurrentTemp = function(SensorName){
				var response = $scope.callAPI($scope.base_url_api, 'GET', SensorName, 1, 1, 0);
				try{
					var parsedResponse = JSON.parse(response);
					//Only get first one in case of too many datasets
					return parsedResponse[0];
				}catch(err){
					console.log("Error in createSensorObjects/getSensorCurrentTemp:" + err);
				}
			}
			
			
			
			//API Calls %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
			
			$scope.getSensorList = function (){
				
				var CompleteUrl = $scope.base_url_api + '/targets';
				$http({
					method: 'GET',
					url: CompleteUrl,
					headers: {
						'Content-Type': 'json'
					},
				}).then(function successCallback(response) {
					response.data.forEach( function (SensorName){
						$scope.SensorList.push(SensorName);
					})
					return response;
				  }, function errorCallback(response) {
					console.log(response);
					return null;
				});
			}
			
			//url example: http://server.fireplace.spankmewithcat6.de/v1/api/stats/client?interval=1&latest=1&offset=0
			// method = GET/POST (string), sensorName(string), interval,later,offset 1,1,0
			$scope.callAPI = function(base_url, method, sensorName, interval, latest, offset){
				
			    var CompleteUrl = base_url + '/stats/' + sensorName + '?intverval=' + interval + '&latest=' + latest + '&offset=' + offset;
				$http({
					method: method,
					url: CompleteUrl,
					headers: {
						'Content-Type': 'json'
					},
				}).then(function successCallback(response) {
					return response;
				  }, function errorCallback(response) {
					console.log(response);
					return null;
				});
				
			}
				
			//End API Calls %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
			

            //wait until canvas are created
            window.onload = function () {
                $scope.updateGraphs();
            }//onload end
			
			
			$scope.updateGraphs = function () {
				$scope.SensorData.forEach(function (Sensor) {
				console.log("SENSOR:");
				console.log(Sensor);
                    //assign each sensorcanvas the data
                    var ctx = document.getElementById('Canvas' + Sensor.ID).getContext('2d');
                    var chart = new Chart(ctx, {
                        //The type of chart we want to create
                        type: 'line',
						
                        //The data for our dataset
                        data: {
                            labels: Sensor.TTStamps.map(a => a.Time),
                            datasets: [
                                {
                                    label: 'Temperaturverlauf ' + Sensor.Name,
                                    backgroundColor: 'rgba(0, 123, 255, 0.3)',
                                    borderColor: 'rgb(0, 123, 255)',
                                    data: Sensor.TTStamps.map(a => a.AvgTemp)
                                }
                            ]
                        },

                        //Configuration options go here
                        options: {
                            //Draw Lines for Avg/Max/Min Temp (needs chartjs annotation plugin)
                            annotation: {
                                annotations: [
                                    {
                                        type: 'line',
                                        mode: 'horizontal',
                                        scaleID: 'y-axis-0',
                                        value: Sensor.UltAvgTemp,
                                        borderColor: 'green',
                                        borderWidth: 4
                                    },
                                    {
                                        type: 'line',
                                        mode: 'horizontal',
                                        scaleID: 'y-axis-0',
                                        value: Sensor.AlertMaxTemp,
                                        borderColor: 'red',
                                        borderWidth: 4
                                    },
                                    {
                                        type: 'line',
                                        mode: 'horizontal',
                                        scaleID: 'y-axis-0',
                                        value: Sensor.AlertMinTemp,
                                        borderColor: 'rgb(0, 187, 255)',
                                        borderWidth: 4
                                    }
                                ]
                            }
                        }
                    });//chart end

                    //alert cases (add more?)
                    if (Sensor.CurrentTemp > Sensor.AlertMaxTemp) {
                        var CardHeader = document.getElementById('cardheader' + Sensor.ID);
                        if (CardHeader != null) {
                            CardHeader.style.backgroundColor = "rgb(206, 48, 41)    ";
                            console.log("changed color of " + Sensor.ID);
                        } else {
                            console.log("cardheader" + Sensor.ID + " is null");
                        }
                    }
                    if (Sensor.CurrentTemp < Sensor.AlertMinTemp) {
                        var CardHeader = document.getElementById('cardheader' + Sensor.ID);
                        if (CardHeader != null) {
                            CardHeader.style.backgroundColor = "rgb(0, 187, 255)";
                            console.log("changed color of " + Sensor.ID);
                        } else {
                            console.log("cardheader" + Sensor.ID + " is null");
                        }
                    }
                })//foreach end
			}
			
			
			
			//Main Call ###################################################
			$scope.getSensorList();
			$scope.createSensorObjects();
			
			
			//End Main ###################################################
			
			
        })
    </script>
</body>
</html>